:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    box-sizing: inherit; /* Kế thừa từ phần tử cha, khi thay đổi kích thước thì ko thay đổi kích thước trong thẻ */
}

html {
    font-size: 62.5%; /* Hack */
    line-height: 1.6rem; /* 16px */
    font-family: "Roboto", sans-serif;  /* sans-serif: chủng chữ không có chân */
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}